.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-picture {
  background-image: url('https://github.com/ThiagoDRangel.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin-right: 2rem;
}

.titles-container {
  text-align: center;
  max-width: 600px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

.link-button:hover {
  background-color: #eee;
  cursor: pointer;
}

.icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-picture {
    width: 5vw;
    height: 10vw;
    padding: 10%;
  }

  .titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .button-container {
    display: flex;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
  }

  .icon {
    font-size: 2rem;
    margin-right: 0.5vw;
  }

  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
  }

  .button-container:hover {
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .span-footer {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  body {
    margin: 0;
    padding: 0;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-picture {
    width: 4vw;
    height: 5vw;
    padding: 7%;
  }
}