@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2vh 5vw;
  }

  .profile-picture {
    background: url('https://github.com/ThiagoDRangel.png');
    background-size: cover;
    background-position: center;
    width: 15vw;
    height: 25vh;
    border-radius: 50%;
    padding: 10%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    margin-right: 5vw;
  }

  .titles-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
  }

  .link-button {
    margin-right: 2vw;
  }

  .icon {
    font-size: 2rem;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-size: 1rem;
  }

  .span-footer {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh 5vw;
  }

  .profile-picture {
    background: url('https://github.com/ThiagoDRangel.png');
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    padding: 10%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 5vh;
  }

  .titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vh 0;
  }

  .link-button {
    margin-bottom: 2vh;
  }

  .icon {
    font-size: 2rem;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    font-size: 1rem;
  }

  .span-footer {
    margin-right: 0.5rem;
  }
}
